Insert And Delete

In [23]:
import pandas as pd

In [24]:
var = pd.DataFrame({"A":[1,2,3,4,5],"B":[6,7,8,9,0]})

var

   A  B
0  1  6
1  2  7
2  3  8
3  4  9
4  5  0

In [25]:
# Parameters-> insert(Index of column, name of column, Data of column)

var.insert(1,"Summ(A+B)",var["A"]+var["B"])
var

   A  Summ(A+B)  B
0  1          7  6
1  2          9  7
2  3         11  8
3  4         13  9
4  5          5  0

In [27]:
var.insert(1,"Random",[12,46,23,64,34])
var

   A  Random  Summ(A+B)  B
0  1      12          7  6
1  2      46          9  7
2  3      23         11  8
3  4      64         13  9
4  5      34          5  0

In [28]:
var["CopySomeData"]=var["A"][:3]
var

   A  Random  Summ(A+B)  B  CopySomeData
0  1      12          7  6           1.0
1  2      46          9  7           2.0
2  3      23         11  8           3.0
3  4      64         13  9           NaN
4  5      34          5  0           NaN

Delete

In [29]:
deleted=var.pop("Random")
print(deleted)
print(var)

0    12
1    46
2    23
3    64
4    34
Name: Random, dtype: int64
   A  Summ(A+B)  B  CopySomeData
0  1          7  6           1.0
1  2          9  7           2.0
2  3         11  8           3.0
3  4         13  9           NaN
4  5          5  0           NaN

In [31]:
# Another mthd

del var ["A"]
var

   Summ(A+B)  B  CopySomeData
0          7  6           1.0
1          9  7           2.0
2         11  8           3.0
3         13  9           NaN
4          5  0           NaN